<html>
	<head>
		<title>Enter Flashcards!</title>
	</head>
	<body>
		<!--Prints the flash message when user clicks on submit-->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<h1>Please Enter Your Flashcards!</h1>
		<!--The textboxes for term, definition, and the submit button-->
		<form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.card_term.label }} <br>
				{{ form.card_term(size=64) }}
			</p>
			<p>
				{{ form.card_def.label }} <br>
				{{ form.card_def(size=128) }}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
		<!--Link that takes you back to the main menu-->
		<div>
			<a href='/menu'>Back</a>
		</div>
	</body>
</html>
