{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='entercard.css')}}">
{% endblock %}

{% block content %}
<html>
	<head>
		<title>Enter Flashcards!</title>
	</head>
	<body>
		<div>
			<a href="/logout">Logout</a>
		</div>
		<h1>Please Enter Your Flashcards!</h1>
		<!--Prints the flash message when user clicks on submit-->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<!--The textboxes for term, definition, and the submit button-->
		<form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.card_term.label }} <br>
				{{ form.card_term(size=32) }}
			</p>
			<p>
				{{ form.card_def.label }} <br>
				{{ form.card_def(size=32) }}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
		<!--Link that takes you back to the main menu-->
		<div>
			<a href='/menu'>Back To Menu</a>
		</div>
	</body>
</html>
{% endblock %}
