<!DOCTYPE html>
<html>
  <head>
    <title>Better Student</title>
  </head>

  <body>
    <h1>Welcome to Better Student!</h1>
    <h2>Register below</h2>
    <p>Login at this link</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    
    <form action="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }}
      </p>
      <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }}
      </p>
      <p>
        {{ form.confirm.label }} <br>
        {{ form.confirm(size=32) }}
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>
  </body>
</html>