{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='invalidTime.css')}}">
{% endblock %}

{% block content %}
<html>
	<head>
		<title>Invalid Time</title>
	</head>
	<body>
		<div>
			<a href="/logout">Logout</a>
		</div>
		<h1>Sorry, but what you inserted was invalid. Please try again.</h1>
		<!--Link that sends user to the page to enter in a time again-->
		<div>
			<a href='/thetimer'>Try Again</a>
		</div>
		<div>
			<a href='/menu'>Back To Menu</a>
		</div>
	</body>
</html>
{% endblock %}
