<!DOCTYPE html>
<!--
    Title: 1. Creating a Rich Text Editor WYSIWYG Using HTML and JavaScript 
    - Introduction, adding HTML
    Author: XcriptMonster
    Date Uploaded: Feb 5, 2017
    Availability: www.youtube.com/watch?v=S4K_PoWTCz4

    Title: 2. Creating a Rich Text Editor WYSIWYG Using HTML and JavaScript 
    - Adding Functionality
    Author: XcriptMonster
    Date Uploaded: Fev 15, 2017
    Availability: https://www.youtube.com/watch?v=6L1WAcMzLLU
-->

{% extends "menu.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='markdown.css')}}">
{% endblock %}

{% block content %}
<html>
<head>
    <title>Markdown</title>
    <h1>Input Your Markdown Notes Here!</h1>

    <!--
        Scripts for each button's respective functions to operate.
    -->
    <script>
        window.addEventListener('load', function(){
            var editor = theWYSIWYG.document;
            editor.designMode = 'on';

            boldButton.addEventListener('click', function(){
                editor.execCommand('Bold', false, null);
            },false);

            italicButton.addEventListener('click', function(){
                editor.execCommand('Italic', false, null);
            },false);

            supButton.addEventListener('click', function(){
                editor.execCommand('Superscript', false, null);
            },false);

            subButton.addEventListener('click', function(){
                editor.execCommand('Subscript', false, null);
            },false);

            strikeButton.addEventListener('click', function(){
                editor.execCommand('Strikethrough', false, null);
            },false);

            orderedListButton.addEventListener('click', function(){
                editor.execCommand('InsertOrderedList', false, "newOL" + Math.round(Math.random() * 1000));
            },false);

            unorderedListButton.addEventListener('click', function(){
                editor.execCommand('InsertUnorderedList', false, "newOL" + Math.round(Math.random() * 1000));
            },false);

            fontColorButton.addEventListener('change', function(event){
                editor.execCommand('ForeColor', false, event.target.value)
            }, false);

            highlightButton.addEventListener('change', function(event){
                editor.execCommand('BackColor', false, event.target.value)
            }, false);

            fontSizeChange.addEventListener('change', function(event){
                editor.execCommand('FontSize', false, event.target.value)
            }, false);

        }, false);
    </script>
</head>

<body>
    <!--
        Redirect to logout.
    -->
    <div id = 'logout'>
        <a href ="/logout">logout</a>
    </div>

    <h1>Input Your Markdown Notes Here!</h1>

    <!--
        Text editor with functional buttons for user to type in markdown notes.
    -->
    <div id ='textEditor'>
        <div id = 'ribbon'>
            <button id = 'boldButton' title = 'Bold'><b>B</b></button>
            <button id = 'italicButton' title = 'Italic'><em>I</em></button>
            <button id = 'supButton' title = 'Superscript'>X<sup>2</sup></button>
            <button id = 'subButton' title = 'Subscript'>X<sub>2</sub></button>
            <button id = 'strikeButton' title = 'Strikethrough'><s>abc</s>></button>
            <button id = 'orderedListButton' title = 'Numbered List'>(i)</button>
            <button id = 'unorderedListButton' title = 'Bullet List'>&bull;</button>
            <input type = 'color' id = 'fontColorButton' title = 'Change Font Color'>
            <input type = 'color' id = 'highlightButton' title = 'Highlight Text'>
            <select id = 'fontSizeChange'>
                <script>
                    for (var i = 1; i < 10; i++){
                        document.write("<option value = '" +i+ "'>"+i+"</option>");
                    }
                </script>
            </select>
        </div>
        <div id ='textArea'>
            <iframe id ='theWYSIWYG' name = 'theWYSIWYG' frameborder = "0"></iframe>
        </div>
    </div>

    <!--
        User can submit their notes.
    -->
    <div id='submit'>
    <form action='' method='POST' novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.submit(size = 16) }}
        </p>
    </form>
 
    </div>
</body>
</html>
{% endblock %}
