{% extends "menu.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='match.css')}}">
{% endblock %}

{% block content %}
<html>
    <body>
		<h1>Let's practice!</h1>

		<!--
			Lists out all the questions to practice.
		-->
		{% for card in questionList %}
		<div>
			<ul>
				<li>{{ card }}</li>
			</ul>
		</div>
		{% endfor %}
	</body>

	<!--
		Text box to input answer.
	-->
    <body>
        <form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.answer.label }} <br>
				{{ form.answer(size=64) }}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
    </body>
</html>
{% endblock %}