{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
  href="{{url_for('.static', filename='menu.css')}}">
{% endblock %}

{% block title %}Better Student{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/menu">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/thetimer">Timer</a></li>
      <li><a href="/createcards">Create Your Own Cards</a></li>
      <li><a href="/overheadview">FlashCards</a></li>
      <li><a href="/match">Match</a></li>
      <li><a href="/results">Result</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/share">Share Files</a></li>
      <li><a href="/totalTimeStudied">Total Time Studied</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">
        <span class="glyphicon glyphicon-log-out"></span>Logout
      </a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  <h1>Welcome!</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <p>This is Better Student. We hope you enjoy our product.</p>
{% endblock %}
