<html>
	<head>
		<title>Overhead View of Flashcards</title>
	</head>
	<body>
		<h1>Here are all your flashcards!</h1>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% for card in all_cards %}
		<div>
			<dl>
				<dt>{{ card.card_term }}</dt>
				<dd>- {{ card.card_def }}</dd>
			</dl>
		</div>
		{% endfor %}
		<form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.shuffler() }}
			</p>
		</form>
	</body>
</html>
