<html>
	<head>
		<title>Overhead View of Flashcards</title>
	</head>
	<body>
		<h1>Here are all your flashcards!</h1>
		<!--Prints the flash message when user clicks on shuffle-->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<!--Title: HTML Lists
		Author: w3schools
		Date: 2021
		Availability: https://www.w3schools.com/HTML/html_lists.asp
		-->
		<!--Prints all the flashcards' terms and descriptions, with the descriptions indented under their terms-->
		{% for card in all_cards %}
		<div>
			<dl>
				<dt>{{ card.card_term }}</dt>
				<dd>- {{ card.card_def }}</dd>
			</dl>
		</div>
		{% endfor %}
		<!--The shuffle button-->
		<form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.shuffler() }}
			</p>
		</form>
	</body>
</html>
