{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='thetimer.css')}}">
{% endblock %}

{% block content %}
<html>
	<head>
		<title>The Timer</title>
	</head>
	<body>
		<div>
			<a href="/logout">Logout</a>
		</div>
		<h1>Please insert the time in the form of 00:00:00</h1>
		<!--Textbox to insert the time-->
		<form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.inserted_time.label }} <br>
				{{ form.inserted_time(size=8) }}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
		<!--Link that takes you back to the main menu-->
		<div>
			<a href='/menu'>Back To Menu</a>
		</div>
	</body>
</html>
{% endblock %}
