{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
    href="{{url_for('.static', filename='timer.css')}}">
{% endblock %}

{% block content %}
<html>
	<head>
		<title>How much time has passed?</title>
	</head>
	<body>
		<div>
			<a href="/logout">Logout</a>
		</div>
		<!--The message displays how much time had passed-->
		<h1>{{ timeSpent }}</h1>
		<!--Link that sends user to the page to enter in a time again-->
		<div>
			<a href='/thetimer'>Reset the Timer</a>
		</div>
		<div>
			<a href='/menu'>Back To Menu</a>
		</div>
	</body>
</html>
{% endblock %}
