h1 {
    text-align: center;
    color: OrangeRed;
}

p {
    text-align: center;
    color: OrangeRed;
}

body {
    background-color: PapayaWhip;
}

li {
    color: OrangeRed;
}

div, a {
    text-align: center;
    color: OrangeRed;
}
