body {
   background-color: PapayaWhip;
}
h1 {
    text-align: left;
    color: OrangeRed;
}

dd, dt {
    text-align: left;
    color: OrangeRed;
}

p {
    text-align: left;
    color: OrangeRed;
}

a {
    text-align: left;
    color: OrangeRed;
}

